<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BezierPathTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE59CD0C1F0DC8DD008C6C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE59CD251F0DC8DE008C6C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE59CD301F0DC8DE008C6C7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
